<div class="md-card">
  <div class="md-card-content">
    <%= form_for(@admin_politic_group, url: (@admin_politic_group.new_record? ? admin_politic_groups_path(@admin_politic_group) : admin_politic_group_path(@admin_politic_group)), multipart: true) do |f| %>
    <% if @admin_politic_group.errors.any? %>
    <div id="error_explanation">
      <h2>Qualcosa è andato storto durante il salvataggio dei dati</h2>
      <ul>
        <% @admin_politic_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <h2 class=" ">
      <% if @admin_politic_group.new_record?%>
      Aggiungi Consiglio
      <% else %>
      Gestisci Consiglio
      <% end %>
      <%#= link_to '<i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>'.html_safe, :back, class:'float-right' %>
    </h2>
    <div class="uk-grid" data-uk-grid-margin>
      <%= f.hidden_field :commonplace_id , value: @commonplace_id %>

      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <label>Nome</label>
              <%= f.text_field :name,class: 'md-input'  %>
            </div>
          </div>
        </div>
      </div>
      <% unless action_name == 'new' %>
      <div class="uk-width-medium-1-1 marginT60">
        <div class="uk-form-row">
          <h3>Membri</h3>
          <% @admin_politic_group.profiles.each do |profile| %>
          <% if profile.photo.url %>
            <%= link_to (image_tag profile.photo.url, class: 'members-photo'), edit_admin_profile_path(id: profile.id, politic_group_id: profile.politic_group_id) %>
          <% else %>
            <%= link_to "<i class='material-icons font100'>&#xE7FD;</i>".html_safe, edit_admin_profile_path(id: profile.id, politic_group_id: profile.politic_group_id) %>
          <% end %>

          <%= link_to '<i class="md-icon material-icons ">&#xE872;</i>'.html_safe, admin_profile_path(profile), method: :delete , :data => {:confirm => 'Sei sicuro di voler cancellare?'} %>
          <% end %>

          <%= link_to "<i class='material-icons font100'></i>".html_safe, new_admin_profile_path(politic_group_id: @admin_politic_group.id )%>
        </div>
      </div>
      <% end %>
    </div>
    <div class="md-fab-wrapper">
      <%= button_tag(type: 'submit' , class: 'md-fab md-fab-accent md-fab-wave waves-effect waves-button') do %>
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
      <% end %>
    </div>
    <% end %>
  </div>
