<div class="md-card">
  <div class="md-card-content">
    <%= form_for(@admin_waste_type, url: (@admin_waste_type.new_record? ? admin_waste_types_path(@admin_waste_type) : admin_waste_type_path(@admin_waste_type)), multipart: true) do |f| %>
    <% if @admin_waste_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_waste_type.errors.count, "Errore") %> Questa categoria non può essere salvata:</h2>

      <ul>
        <% @admin_waste_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <h3 class=" ">
      <% if @admin_waste_type.new_record?%>
      Aggiungi <%= @admin_waste_type.class.name %>
      <% else %>
      Gestisci <%= @admin_waste_type.name %>
      <% end %>
    </h3>
    <div class="uk-grid" data-uk-grid-margin>
      <div class="uk-width-medium-1-2">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <label>Nome</label>
              <%= f.text_field :name,class: 'md-input', required: true  %>
            </div>
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">

            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-medium-1-2">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <h4>Icone</h4>
              <div class="dropzone" data-width="750" data-ghost="false" data-canvas="false" data-image="<%= f.object.icon.url %>" data-originalsize="false" data-height="410" data-url="/" data-editstart="false" data-ajax="false", data-save="false" data-canvas="false" style="width: 100%">
                <%= f.file_field :icon%>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <%= f.submit class: "md-btn default-submit"%>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-medium-1-2">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>

          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-2">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">

            </div>
          </div>
        </div>
      </div>
    </div>

    <% end %>
  </div>
</div>
