<div class="md-card">
  <div class="md-card-content">
    <%= form_for(@admin_event, url: (@admin_event.new_record? ? admin_events_path(@admin_event) : admin_event_path(@admin_event)), multipart: true) do |f| %>
    <% if @admin_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_event.errors.count, "error") %> prohibited this admin_category from being saved:</h2>

      <ul>
        <% @admin_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <h3 class="heading_a">
      <% if @admin_event.new_record?%>
      New <%= @admin_event.class.name %>
      <% else %>
      Edit <%= @admin_event.title %>
      <% end %>
    </h3>
    <div class="uk-grid" data-uk-grid-margin>
      <%= f.hidden_field :around_id , value: @around_id %>
      <div class="uk-width-medium-1-2">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <label>Name</label>
              <%= f.text_field :title, required: true,class: 'md-input'  %>
            </div>
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <label>Address</label>
              <%= f.text_field :address, required: true,class: 'md-input'  %>
            </div>
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <label>Description</label>
              <%= f.text_area :description, required: true,class: 'md-input'  %>
            </div>
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <label>Photo</label>
              <%= f.file_field :photo, class: 'dropify ', 'data-default-file' => @admin_event.photo, 'data-allowed-formats':"portrait square" , 'data-errors-position': "outside"  %>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-medium-1-2">
        <div class="uk-form-row">
          <div id="subcategories">
            <h2>Event Date</h2>
            <%= f.fields_for :event_dates do |event_date| %>
            <%= render 'event_date_fields', f: event_date %>
            <% end %>
            <div class="links">
              <%= link_to_add_association '<i class="material-icons md-24"></i>'.html_safe, f, :event_dates %>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-medium-1-2">
        <div class="uk-form-row">
        </div>
      </div>
      <div class="uk-width-medium-1-2">
        <div class="uk-form-row">
          <%= f.submit class: "md-btn default-submit"%>
        </div>
      </div>
    </div>



    <% end %>
  </div>
</div>
