<div class="md-card">
  <div class="md-card-content">
    <%= form_for(@admin_profile, url: (@admin_profile.new_record? ? admin_profiles_path(@admin_profile) : admin_profile_path(@admin_profile)), multipart: true) do |f| %>
    <% if @admin_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_profile.errors.count, "error") %> prohibited this admin_category from being saved:</h2>
      <ul>
        <% @admin_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <h2 class=" ">
      <% if @admin_profile.new_record?%>
      New <%= @admin_profile.class.name %>
      <% else %>
      Edit <%= @admin_profile.name %>
      <% end %>
      <%= link_to '<i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>'.html_safe, :back, class:'float-right' %>
    </h2>
    <div class="uk-grid" data-uk-grid-margin>
      <%= f.hidden_field :commonplace_id , value: @commonplace_id %>
      <%= f.hidden_field :is_city_council_member , value: true %>
      <%= f.hidden_field :is_major , value: @is_major %>
      <%= f.hidden_field :politic_group_id , value: params[:politic_group_id] %>
      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
              <label>Nome</label>
              <%= f.text_field :name, required: true,class: 'md-input'  %>
            </div>
            <div class="uk-width-medium-1-2">
              <label>Ruolo</label>
              <%= f.text_field :role,class: 'md-input'  %>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
              <label>Indirizzo</label>
              <%= f.text_field :address, required: true,class: 'md-input'  %>
            </div>
            <div class="uk-width-medium-1-2">
              <label>Email</label>
              <%= f.text_field :email, required: true,class: 'md-input'  %>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
              <label>Fax</label>
              <%= f.text_field :fax,class: 'md-input'  %>
            </div>
            <div class="uk-width-medium-1-2">
              <label>Telefono</label>
              <%= f.text_field :phone, required: true,class: 'md-input'  %>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
              <label>Website</label>
              <%= f.text_field :website,class: 'md-input'  %>
            </div>
            <div class="uk-width-medium-1-2">
              <label>Orari Apertura</label>
              <%= f.select :days_open, options_for_select([["Domenica", 0],["Lunedì", 1], ["Martedì", 2], ["Mercoledì", 3], ["Giovedì", 4], ["Venerdì", 5], ["Sabato", 6]], f.object.days_open), {prompt: 'Seleziona Giorno'}, {class: 'md-input', multiple: true}  %>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
              <label>Inizio appuntamento</label>
              <%= f.text_field :appointment_start, class: 'md-input', 'data-uk-timepicker': true, value: (f.object.appointment_start.strftime('%H:%M') if f.object.appointment_start) %>
            </div>
            <div class="uk-width-medium-1-2">
              <label>Termino appuntamento</label>
              <%= f.text_field :appointment_end, class: 'md-input', 'data-uk-timepicker': true, value: (f.object.appointment_end.strftime('%H:%M') if f.object.appointment_end) %>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
              <label>Foto</label>
              <br />
              <div class="dropzone" data-height="414" data-width="750"   data-image="<%= f.object.photo.url %>"  data-editstart="false" data-ajax="false" data-canvas="true" style="width: 100%">
                <%= f.file_field :photo%>
              </div>
            </div>

            <div class="uk-width-medium-1-2">
              <label>Icona</label>
              <br />
              <div class="dropzone" data-width="200" data-height="200"  data-image="<%= f.object.major_icon.url %>"  data-editstart="false" data-ajax="false" data-canvas="true">
                <%= f.file_field :major_icon%>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
              <label>Descrizione</label>
              <%= f.text_area :description, required: true,class: 'md-input'  %>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="md-fab-wrapper">
      <%= button_tag(type: 'submit' , class: 'md-fab md-fab-accent md-fab-wave waves-effect waves-button') do %>
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
