<div class="md-card">
  <div class="md-card-content">
    <%= form_for(@advertisement, url: (@advertisement.new_record? ? admin_advertisements_path(@advertisement) : admin_advertisement_path(@advertisement)), multipart: true) do |f| %>
    <% if @advertisement.errors.any? %>
    <div id="error_explanation">
      <h2>Qualcosa è andato storto durante il salvataggio dei dati</h2>

      <ul>
        <% @advertisement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <h2 class=" ">
      <% if @advertisement.new_record?%>
      Nuovo Banner pubblicitari
      <% else %>
      Gestisci Banner pubblicitari
      <% end %>
      <%= link_to '<i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>'.html_safe, :back, class:'float-right' %>
    </h2>
    <div class="uk-grid" data-uk-grid-margin>

      <div class="uk-width-medium-1-2">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                <%= f.select :city_ids, options_from_collection_for_select(City.all, 'id', 'name', @advertisement.city_ids), {prompt: 'Seleziona Città'}, {required: true, class: 'md-input', multiple: true}  %>
            </div>
          </div>
        </div>

        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <label>Foto</label>


              <div class="dropzone" data-width="738"  data-image="<%= f.object.photo.url %>"  data-height="240"  data-editstart="false" data-ajax="false" data-canvas="true" style="width: 100%">
                <%= f.file_field :photo%>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <label>Posizione</label>
              <%= f.select(:position, ([["Sopra", "top"], ["Sotto", "bottom"]]) , {prompt: 'Seleziona posizione'}, {'data-md-selectize': true, required: true, class: 'md-input'}  ) %>
            </div>
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
            <label>Data Inizio</label>
            <%= f.text_field :start_date, class: 'md-input',  'data-uk-datepicker':"{format:'YYYY-MM-DD'}" , value: (f.object.start_date.strftime('%Y-%m-%d') if f.object.start_date) %>
            </div>
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
            <label>Fino a</label>
            <%= f.text_field :end_date, class: 'md-input',  'data-uk-datepicker':"{format:'YYYY-MM-DD'}" , value: (f.object.end_date.strftime('%Y-%m-%d') if f.object.end_date) %>
          </div>
          </div>
        </div>



      </div>
      <div class="uk-width-medium-1-2">

      </div>
      </div>
      <div class="md-fab-wrapper">
        <%= button_tag(type: 'submit' , class: 'md-fab md-fab-accent md-fab-wave waves-effect waves-button') do %>
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
        <% end %>
      </div>
      <% end %>

  </div>
