<h1>Gestisci Promo pubblicitari</h1>
<div class="md-card uk-margin-medium-bottom">
  <div class="md-card-content">
    <div class="uk-overflow-container">
      <table class="uk-table uk-table-nowrap table_check">
        <thead>
          <tr>
            <th class="uk-width-1-10 ">Foto</th>
            <th class="uk-width-1-10 uk-text-center">Posizione</th>
            <th class="uk-width-1-10 uk-text-center">Inizio</th>
            <th class="uk-width-1-10 uk-text-center">Fino a</th>
            <th class="uk-width-1-10 uk-text-center">Stato</th>
            <th class="uk-width-1-10 ">Azioni</th>
          </tr>
        </thead>
        <tbody>
          <% @advertisements.each do |ad| %>
          <tr>
            <td class="uk-width-1-10"><%= image_tag ad.photo.thumb.url, class: 'width100pixel' %></td>
            <% italian_position = {'top':'Sopra','bottom':'Sotto','both':'Ambo'} %>
            <td class="uk-width-1-10 uk-text-center"><%= italian_position[ad.position.to_sym] %></td>
            <td class="uk-width-1-10 uk-text-center"><%=  l(ad.start_date, format: "%A %B %d %Y") %></td>
            <td class="uk-width-1-10 uk-text-center"><%= l(ad.end_date, format: "%A %B %d %Y") %></td>
            <td class="uk-text-center">
              <% if ad.active? %>
                <span class="uk-badge uk-badge-success">Attivo</span>
              <% else %>
                <span class="uk-badge uk-badge-danger">Inattivo</span>
              <% end %>
            </td>


            <td class="uk-width-1-10">
              <%= link_to '<i class="md-icon material-icons">&#xE254;</i>'.html_safe, edit_admin_advertisement_path(ad) %>
              <%= link_to '<i class="md-icon material-icons ">&#xE872;</i>'.html_safe, admin_advertisement_path(ad), method: :delete , :data => {:confirm => 'Sei sicuro di voler cancellare?'} %>
            </td>
          </tr>
          <%end %>
        </tbody>
      </table>
    </div>
    <ul class="uk-pagination uk-margin-medium-top">
      <%= paginate @advertisements %>
    </ul>
    <div class="md-fab-wrapper">
        <a class="md-fab md-fab-accent md-fab-wave-light waves-effect waves-button waves-light" href="/admin/advertisements/new" id="invoice_add">
            <i class="material-icons"></i>
        </a>
    </div>
  </div>
</div>
