<div class="md-card">
  <div class="md-card-content">
    <%= form_for(@admin_story, url: (@admin_story.new_record? ? admin_stories_path(@admin_story) : admin_story_path(@admin_story)), multipart: true) do |f| %>
    <% if @admin_story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_story.errors.count, "error") %> prohibited this admin_category from being saved:</h2>

      <ul>
        <% @admin_story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <h2 class=" ">
      <% if @admin_story.new_record?%>
      Aggiungi Storia dela citta
      <% else %>
      Gestisci <%= @admin_story.class.name %>
      <% end %>
      <%= link_to '<i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>'.html_safe, :back, class:'float-right' %>
    </h2>
    <div class="uk-grid" data-uk-grid-margin>
      <%= f.hidden_field :discover_id , value: @discover_id %>
      <div class="uk-width-medium-1-2">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <label>Testo Sopra</label>
              <%= f.text_area :top_text, required: true,class: 'md-input'  %>
            </div>
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <label>Testo Sotto</label>
              <%= f.text_area :bottom_text, required: true,class: 'md-input'  %>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-2 ">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <div id="photos">
                <h3>Foto</h3>
                <%= f.fields_for :photos do |photo| %>
                <%= render 'photo_fields', f: photo %>
                <% end %>
                <div class="links">
                  <%= link_to_add_association '<i class="material-icons md-24"></i>'.html_safe, f, :photos %>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="md-fab-wrapper">
          <%= button_tag(type: 'submit' , class: 'md-fab md-fab-accent md-fab-wave waves-effect waves-button') do %>
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
