<div class="md-card">
  <div class="md-card-content">
    <%= form_for(@admin_city_hall_story, url: (@admin_city_hall_story.new_record? ? admin_city_hall_stories_path(@admin_city_hall_story) : admin_city_hall_story_path(@admin_city_hall_story)), multipart: true) do |f| %>
    <% if @admin_city_hall_story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_city_hall_story.errors.count, "error") %> prohibited this admin_category from being saved:</h2>

      <ul>
        <% @admin_city_hall_story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <h3 class="heading_a">
      <% if @admin_city_hall_story.new_record?%>
      New <%= @admin_city_hall_story.class.name %>
      <% else %>
      Edit <%= @admin_city_hall_story.class.name %>
      <% end %>
    </h3>
    <div class="uk-grid" data-uk-grid-margin>
      <%= f.hidden_field :commonplace_id , value: @commonplace_id %>
      <div class="uk-width-medium-1-2">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <label>Bottom Text</label>
              <%= f.text_area :bottom_text, required: true,class: 'md-input'  %>
            </div>
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <label>Top Text</label>
              <%= f.text_area :top_text, required: true,class: 'md-input'  %>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-2 ">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <div id="photos">
                <h2>Photos</h2>
                <%= f.fields_for :photos do |photo| %>
                <%= render 'photo_fields', f: photo %>
                <% end %>
                <div class="links">
                  <%= link_to_add_association '<i class="material-icons md-24"></i>'.html_safe, f, :photos %>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <%= f.submit class: "md-btn default-submit"%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
