<div class="md-card">
  <div class="md-card-content">
    <%= form_for(@admin_culinary, url: (@admin_culinary.new_record? ? admin_culinaries_path(@admin_culinary) : admin_culinary_path(@admin_culinary)), multipart: true) do |f| %>
    <% if @admin_culinary.errors.any? %>
    <div id="error_explanation">
      <h2>Qualcosa è andato storto durante il salvataggio dei dati</h2>

      <ul>
        <% @admin_culinary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <h2 class=" ">
      <% italian_type = { gastronomy: 'Gastronomia', traditional: 'Piatti della Tradizione' }%>
      <% if @admin_culinary.new_record?%>
      Aggiungi <%= italian_type[@culinary_type.to_sym] %>
      <% else %>
      Gestisci <%= italian_type[@culinary_type.to_sym] %>
      <% end %>
      <%= link_to '<i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>'.html_safe, :back, class:'float-right' %>
    </h2>
    <div class="uk-grid" data-uk-grid-margin>
      <%= f.hidden_field :discover_id , value: @discover_id %>
      <%= f.hidden_field :culinary_type , value: @admin_culinary.culinary_type || params[:culinary_type]%>
      <div class="uk-width-medium-1-2">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <label>Nome</label>
              <%= f.text_field :name, required: true,class: 'md-input'  %>
            </div>
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <label>Descrizione</label>
              <%= f.text_area :description, required: true,class: 'md-input'  %>
            </div>
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <label>Link Esterno</label>
              <%= f.text_field :external_link, class: 'md-input'  %>
            </div>
          </div>
        </div>

        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
              <%= f.label :support_disabilities, 'Città Accessibile', class: 'inline-label'%>
              <%= f.check_box :support_disabilities,class: 'md-input', 'data-switchery': true  %>
            </div>
          </div>
        </div>

      </div>

      <div class="uk-width-medium-1-2 ">
        <div class="uk-form-row">
          <div id="photos">
            <h3>Foto</h3>
            <%= f.fields_for :photos do |photo| %>
            <%= render 'photo_fields', f: photo %>
            <% end %>
            <div class="links">
              <%= link_to_add_association '<i class="material-icons md-24"></i>'.html_safe, f, :photos %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md-fab-wrapper">
      <%= button_tag(type: 'submit' , class: 'md-fab md-fab-accent md-fab-wave waves-effect waves-button') do %>
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
      <% end %>
    </div>



    <% end %>
  </div>
</div>
