<h1>Gestisci Promozioni</h1>
<div class="md-card uk-margin-medium-bottom">
    <div class="md-card-content">
        <div class="uk-overflow-container">
            <table class="uk-table uk-table-nowrap table_check">
                <thead>
                <tr>
                    <th class="uk-width-1-10">Titolo Promozione</th>
                    <th class="uk-width-1-10 uk-text-center">Sconto</th>
                    <th class="uk-width-1-10 uk-text-center">Prezzo iniziale</th>
                    <th class="uk-width-1-10 uk-text-center">Prezzo Scontato</th>
                    <th class="uk-width-1-10 uk-text-center">Foto</th>
                    <th class="uk-width-1-10 uk-text-center">Approvazione</th>
                    <th class="uk-width-1-10 uk-text-center">Azioni</th>
                </tr>
                </thead>
                <tbody>
                    <% @admin_promos.each do  |promo|%>
                    <tr>

                        <td class=""><%= truncate(promo.title, length: 25, omission: '...') %></td>
                        <td class="uk-text-center"><%= number_with_precision(promo.discount, precision: 0, separator: '.', delimiter: ',') %> %</td>
                        <td class="uk-text-center">€ <%= number_with_precision(promo.original_price, precision: 2, separator: '.', delimiter: ',') %></td>
                        <td class="uk-text-center">€ <%= number_with_precision(promo.discount_price, precision: 2, separator: '.', delimiter: ',') %></td>
                        <td class="uk-text-center"><%= image_tag promo.photo.url, class: 'width100pixel' %></td>
                        <td class="uk-text-center">
                          <% if promo.is_active || promo.is_active_for_tommorow %>
                            <span class="uk-badge uk-badge-success">Approvato</span>
                          <% else %>
                            <span class="uk-badge uk-badge-danger">Pendente</span>
                          <% end %>
                        <td class="uk-text-center">
                            <%= link_to '<i class="md-icon material-icons">&#xE254;</i>'.html_safe , edit_admin_promo_path(promo)%>

                            <%= link_to '<i class="md-icon material-icons ">&#xE872;</i>'.html_safe, admin_promo_path(promo), method: :delete , :data => {:confirm => 'Sei sicuro di voler cancellare?'} %>
                        </td>
                    </tr>
                    <% end %>

                </tbody>
            </table>
            <%= paginate @admin_promos %>
        </div>

    </div>
    <div class="md-fab-wrapper">
        <a class="md-fab md-fab-accent md-fab-wave-light waves-effect waves-button waves-light" href="/admin/promos/new" id="invoice_add">
            <i class="material-icons"></i>
        </a>
    </div>
</div>
