<div class="md-card">
  <div class="md-card-content">
    <%= form_for(@admin_merchant, url: (@admin_merchant.new_record? ? admin_merchants_path(@admin_merchant) : admin_merchant_path(@admin_merchant)), multipart: true) do |f| %>
    <% if @admin_merchant.errors.any? %>
    <div id="error_explanation">
      <h2>Qualcosa è andato storto durante il salvataggio dei dati</h2>

      <h2><%= t('errors.messages.not_saved', count: @admin_merchant.errors.count) %></h2>
      <ul>
        <% @admin_merchant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <h2 class=" ">
      <% if @admin_merchant.new_record?%>
      <div class="uk-width-medium-1-2 uk-row-first">
        Aggiungi Attività
        <span class="marginL155">
          <%= f.check_box :active,class: 'float-right ', 'data-switchery': true, 'data-switchery-size':"large"  %>
          <span id="switchery_active_text">Visibilità</span>
        </span>
      </div>


      <% else %>
      <div class="uk-width-medium-1-2 uk-row-first">
        Gestisci Attività
        <%#= f.label :support_disabilities, 'Città Accessibile', class: 'inline-label'%>
        <span class="marginL170">
          <%= f.check_box :active,class: 'float-right ', 'data-switchery': true, 'data-switchery-size':"large"  %>
          <span id="switchery_active_text">Visibilità</span>
        </span>
      </div>

      <% end %>
      <%= link_to '<i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>'.html_safe, admin_merchants_path, class:'float-right marginTM40' %>
    </h2>
    <div class="clear"></div>

    <div class="uk-grid" data-uk-grid-margin>
      <%= f.hidden_field :city_id , value: session[:current_city_id]%>
      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
              <label>Nome</label>
              <%= f.text_field :name, required: true,class: 'md-input'  %>
            </div>
            <div class="uk-width-medium-1-2">
              <label>Indirizzo</label>
              <%= f.text_field :address, required: true,class: 'md-input addressable'  %>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
              <div id="map" class="not-basic"></div>
            </div>
            <div class="uk-width-medium-1-2">
              <label class='not-basic'>Latitude</label>
              <%= f.text_field :latitude, required: true,class: 'md-input not-basic'  %>
              <label class='not-basic'>Longitude</label>
              <%= f.text_field :longitude, required: true,class: 'md-input not-basic'  %>
              <label>Città</label>
              <%= f.select :city_ids, options_from_collection_for_select(City.all, 'id', 'name',@admin_merchant.cities.map(&:id)), {prompt: 'Seleziona Cities'}, {required: true, multiple: true, class: 'md-input'}  %>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
              <label>Categoria</label>
              <%= f.select :category_id, options_from_collection_for_select(@categories, 'id', 'name',@admin_merchant.category_id), {prompt: 'Seleziona categoria'}, {'data-md-selectize': true, required: true, class: 'md-input'}  %>
            </div>
            <div class="uk-width-medium-1-2">
              <label>Sottocategoria</label>
              <%= f.select :subcategory_ids, options_from_collection_for_select(@subcategories, 'id', 'name', @admin_merchant.subcategory_ids), {prompt: 'Selezionare Sottocategoria'}, {class: 'md-input', multiple: true}  %>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
              <label>Cellulare</label>
              <%= f.text_field :phone, required: true,class: 'md-input'  %>
            </div>
            <div class="uk-width-medium-1-2">
              <label>Fisso</label>
              <%= f.text_field :secondary_phone,class: 'md-input'  %>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
            </div>
            <div class="uk-width-medium-1-2">
              <label>Telfono Verde</label>
              <%= f.text_field :phone_extra,class: 'md-input'  %>
            </div>
          </div>
        </div>
      </div>


      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
              <label>Facebook</label>
              <%= f.text_field :facebook,class: 'md-input'  %>
            </div>
            <div class="uk-width-medium-1-2">
              <label>Instagram</label>
              <%= f.text_field :instagram,class: 'md-input'  %>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
              <label>Twitter</label>
              <%= f.text_field :twitter,class: 'md-input'  %>
            </div>
            <div class="uk-width-medium-1-2">
              <label>Google+</label>
              <%= f.text_field :google_plus,class: 'md-input'  %>
            </div>
          </div>
        </div>
      </div>


      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
              <label>Email</label>
              <%= f.text_field :email,required: true,class: 'md-input'  %>
            </div>
            <div class="uk-width-medium-1-2">
              <%= f.label :support_disabilities, 'Città Accessibile', class: 'inline-label'%>
              <%= f.check_box :support_disabilities,class: 'md-input', 'data-switchery': true  %>
            </div>
          </div>
        </div>
      </div>


      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
              <label>Website</label>
              <%= f.text_field :website,class: 'md-input'  %>
            </div>
            <div class="uk-width-medium-1-2">
              <%= f.label :is_basic, 'Basic', class: 'inline-label'%>
              <%= f.check_box :is_basic,class: 'md-input', 'data-switchery': true, 'data-switchery-size':"large"  %>
            </div>

          </div>
        </div>
      </div>


      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>

            <div class="uk-width-medium-1-2 not-basic">
              <label>Descrizione</label>
              <%= f.text_area :description,class: 'md-input'  %>
            </div>
            <div class="uk-width-medium-1-2">
              <label>Icona</label>
              <span class="font-size-11">(Suggerimento immagine 100 x 100px)</span>
              <br />

              <div class="dropzone" data-width="200" data-originalsize="true" data-height="200"    data-image="<%= f.object.icon.url %>"  data-editstart="false" data-ajax="false",  data-canvas="true">
                <%= f.file_field :icon%>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2 not-basic">
              <div id="subcategories" >
                <h3>Orari</h3>
                <%= f.label :open_all_day, 'Sempre Aperto', class: 'inline-label'%>
                <%= f.check_box :open_all_day,class: 'md-input', 'data-switchery': true  %>
                <%= f.fields_for :business_hours do |business_hour| %>
                <%= render 'business_hour_fields', f: business_hour %>
                <% end %>
                <div class="links">
                  <%= link_to_add_association '<i class="material-icons md-24"></i>'.html_safe, f, :business_hours %>
                </div>
              </div>
            </div>
            <div class="uk-width-medium-1-2">
              <div class="uk-form-row">
                <div id="photos">
                  <h3>Foto</h3>
                  <%= f.fields_for :photos do |photo| %>
                  <%= render 'photo_fields', f: photo %>
                  <% end %>
                  <div class="links">
                    <%= link_to_add_association '<i class="material-icons md-24"></i>'.html_safe, f, :photos %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="md-fab-wrapper">
    <%= button_tag(type: 'submit' , class: 'md-fab md-fab-accent md-fab-wave waves-effect waves-button') do %>
    <i class="fa fa-floppy-o" aria-hidden="true"></i>
    <% end %>
  </div>
  <% end %>

</div>
