<%= form_for(@admin_merchant, url: (@admin_merchant.new_record? ? admin_merchants_path(@admin_merchant) : admin_merchant_path(@admin_merchant) ) ) do |f| %>
  <% if @admin_merchant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_merchant.errors.count, "error") %> prohibited this admin_merchant from being saved:</h2>

      <ul>
      <% @admin_merchant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="uk-width-medium-1-1 uk-grid-margin">
      <div class="md-input-wrapper md-input-filled">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'md-input uk-form-width-large ', required: true %>
      </div>
    </div>
    <div class="uk-width-medium-1-1 uk-grid-margin">
      <div class="md-input-wrapper md-input-filled">
        <%= f.label :address, 'Address' %>
        <%= f.text_field :address, class: 'md-input uk-form-width-large ', required: true %>
      </div>
    </div>
    <div class="uk-width-medium-1-1 uk-grid-margin">
      <div class="md-input-wrapper md-input-filled">
        <%= f.label :phone, 'Phone' %>
        <%= f.text_field :phone, class: 'md-input uk-form-width-large ', required: true %>
      </div>
    </div>
    <div class="uk-width-medium-1-1 uk-grid-margin">
      <div class="md-input-wrapper md-input-filled">
        <%= f.label :email, 'Email' %>
        <%= f.text_field :email, class: 'md-input uk-form-width-large ', required: true %>
      </div>
    </div>
    <div class="uk-width-medium-1-1 uk-grid-margin">
      <div class="md-input-wrapper md-input-filled">
        <%= f.label :facebook, 'Facebook' %>
        <%= f.text_field :facebook, class: 'md-input uk-form-width-large ', required: true %>
      </div>
    </div>
    <div class="uk-width-medium-1-1 uk-grid-margin">
      <div class="md-input-wrapper md-input-filled">
        <%= f.label :instagram, 'Instagram' %>
        <%= f.text_field :instagram, class: 'md-input uk-form-width-large ', required: true %>
      </div>
    </div>
    <div class="uk-width-medium-1-1 uk-grid-margin">
      <div class="md-input-wrapper md-input-filled">
        <%= f.label :description, 'description' %>
        <%= f.text_field :description, class: 'md-input uk-form-width-large ', required: true %>
      </div>
    </div>

    <div class="uk-width-medium-1-5 uk-grid-margin">
      <div class="md-input-wrapper">
        <h3 class="heading_a uk-margin-small-bottom">Merchant's Photo</h3>
        <%= f.file_field :photo, class: 'dropify ', 'data-default-file' => @admin_merchant.photo, 'data-allowed-formats':"portrait square" , 'data-errors-position': "outside" , 'data-height':"150", required: true %>
      </div>
    </div>
    <div class="uk-width-medium-1-5 uk-grid-margin">
      <div class="md-input-wrapper">
        <h3 class="heading_a uk-margin-small-bottom">Merchant's Icon</h3>
        <%= f.file_field :icon, class: 'dropify ', 'data-default-file' => @admin_merchant.icon, 'data-allowed-formats':"portrait square" , 'data-errors-position': "outside" , 'data-height':"150", required: true %>
      </div>
    </div>
    <%= f.submit %>
  </div>
<% end %>
