<div class="md-card uk-margin-medium-bottom">
  <div class="md-card-content">
    <div class="uk-overflow-container">
      <table class="uk-table uk-table-nowrap table_check">
        <thead>
          <tr>
            <th class="uk-width-1-10">Name</th>

            <th class="uk-width-1-10 uk-text-center">Address</th>
            <th class="uk-width-1-10 uk-text-center">Phone </th>
            <th class="uk-width-1-10 uk-text-center">Secondary Phone </th>
            <th class="uk-width-1-10 uk-text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @admin_vehicles.each do  |vehicle|%>
          <tr>
            <td class=""><%= vehicle.name  %></td>
            <td class="uk-text-center"><%= vehicle.address %></td>
            <td class="uk-text-center"><%= vehicle.phone_0 %></td>
            <td class="uk-text-center"><%= vehicle.phone_1 %></td>
            <td class="uk-text-center">
              <%= link_to '<i class="md-icon material-icons">&#xE254;</i>'.html_safe , edit_admin_vehicle_path(vehicle, vehicle_type: vehicle.vehicle_type)%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @admin_vehicles %>
    </div>
  </div>
  <div class="md-fab-wrapper">
    <a class="md-fab md-fab-accent md-fab-wave-light waves-effect waves-button waves-light" href="/admin/vehicles/new?vehicle_type=<%= params[:vehicle_type]%>" id="invoice_add">
      <i class="material-icons"></i>
    </a>
  </div>
</div>
