<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Descrizione:</strong>
  <%= @city.description %>
</p>

<p>
  <strong>Latitudine:</strong>
  <%= @city.latitude %>
</p>

<p>
  <strong>Longitudine:</strong>
  <%= @city.longitude %>
</p>
