<div class="login_page_wrapper">
  <div class="md-card login-form-override" id="login_card">
    <div class="md-card-content large-padding" id="login_form">
      <div class="login_heading">
        <%= image_tag 'logo_main_white@2x.png' , class:'half'%>
      </div>
      <%= form_for(:admin, :url => session_path(:admin)) do |f| %>
        <div class="uk-form-row">
          <label for="login_username" class="white-label">Email</label>
          <%= f.email_field :email, class: "md-input white-label" %>
        </div>
        <div class="uk-form-row">
          <label for="login_password" class="white-label">Password</label>
          <%= f.password_field :password,  class: "md-input white-label", autocomplete: :off %>
        </div>
        <div class="uk-margin-medium-top">
          <%= f.submit 'Sign in' , class: "md-btn md-btn-primary md-btn-block md-btn-large yellow-button"%>

        </div>
      <% end %>
    </div>
  </div>
</div>
