<%= form_for(@admin_category, url: (@admin_category.new_record? ? admin_categories_path(@admin_category) : admin_category_path(@admin_category)), multipart: true) do |f| %>
  <% if @admin_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_category.errors.count, "error") %> prohibited this admin_category from being saved:</h2>

      <ul>
      <% @admin_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>


  <div class="actions">

  <% end %>
  <div class="uk-width-medium-1-5 uk-grid-margin">
    <div class="md-input-wrapper">
      <h3 class="heading_a uk-margin-small-bottom">Category Photo</h3>
      <%= f.file_field :photo, class: 'dropify ', 'data-default-file' => @admin_category.photo, 'data-allowed-formats':"portrait square" , 'data-errors-position': "outside" , 'data-height':"150", required: true %>
    </div>
  </div>
  <div class="uk-width-medium-1-5 uk-grid-margin">
    <div class="md-input-wrapper">
      <h3 class="heading_a uk-margin-small-bottom">Category Photo</h3>
      <%= f.file_field :icon, class: 'dropify ', 'data-default-file' => @admin_category.icon, 'data-allowed-formats':"portrait square" , 'data-errors-position': "outside", required: true  %>
    </div>
  </div>
  <div class="uk-width-medium-1-5 uk-grid-margin">
    <div class="md-input-wrapper">
      <h3 class="heading_a uk-margin-small-bottom">Category Name</h3>
      <%= f.text_field :name, required: true  %>
    </div>
  </div>
    <%= f.submit %>
  </div>
<% end %>
