<p id="notice"><%= notice %></p>

<h1>Listing Admin Categories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3">Name</th>
      <th colspan="3">Photo</th>
      <th colspan="3">Icon</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_categories.each do |admin_category| %>
      <tr>
        <td><%= admin_category.name %></td>
        <td><%= image_tag admin_category.photo.thumb.url if admin_category.photo %></td>
        <td><%= image_tag admin_category.icon.thumb.url if admin_category.icon %></td>
        <td>
          <%= link_to 'Edit', edit_admin_category_path(admin_category) %>
          <%= link_to 'Destroy', admin_category_path(admin_category), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_admin_category_path %>
