<aside id="sidebar_main">
  <div class="sidebar_main_header" id="header-custom-background">
    <%= image_tag "logo_main_white@2x.png" , class: 'sidebar-header'%>
    <br />
    <div class="sidebar_actions">

        <%= select_tag "cities", options_from_collection_for_select(@cities, "id", "name", @selected_city.id), class: 'md-input city-selector'%>

    </div>
  </div>
  <div class="menu_section">
    <ul>
      <li title="Home">
        <a href="#">
          <span class="menu_icon"><i class="material-icons">&#xE1BD;</i></span>
          <span class="menu_title">Home</span>
        </a>
        <ul>
          <% city_class = params[:controller] == 'admin/cities' ? 'act_item current_section_submenu' : '' %>
          <li><%= link_to 'Select Photo', edit_admin_city_path(@selected_city), class: city_class  %></li>
          <li><a href="/admin/categories" class="<%= 'act_item current_section_submenu' if params[:controller] == 'admin/categories'%>">Categories</a></li>
          <li><a href="/admin/merchants" class="<%= 'act_item current_section_submenu' if params[:controller] == 'admin/merchants'%>">Merchant</a></li>
          <li><a class="<%= 'act_item current_section_submenu' if params[:controller] == 'admin/promos'%>" href="/admin/promos">Promotions</a></li>
        </ul>
      </li>

      <li title="Scopri">
        <a href="#">
          <span class="menu_icon"><i class="material-icons">&#xE1BD;</i></span>
          <span class="menu_title">Scopri</span>
        </a>
        <ul>
          <li><a href="#">Select Photo</a></li>
          <li><a href="#">Vicita la citta</a></li>
          <li><a href="#">Cultura</a></li>
          <li><a href="#">Piati tipici</a></li>
          <li><a href="#">Storia dela citta</a></li>
          <li><a href="#">Itineraries</a></li>
        </ul>
      </li>

      <li title="Intorno">
        <a href="#">
          <span class="menu_icon"><i class="material-icons">&#xE1BD;</i></span>
          <span class="menu_title">Intorno</span>
        </a>
        <ul>
          <li><a href="#">Select Photo</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Mercati</a></li>
          <li><a href="#">Parci</a></li>
        </ul>
      </li>


      <li title="Comune">
        <a href="#">
          <span class="menu_icon"><i class="material-icons">&#xE1BD;</i></span>
          <span class="menu_title">Comune</span>
        </a>
        <ul>
          <li><a href="#">Select Photo</a></li>
          <li><a href="#">Social Links</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Dati Comune</a></li>
          <li><a href="#">Administration</a></li>
          <li><a href="#">Ufici publici</a></li>
          <li><a href="#">Online Services</a></li>
          <li><a href="#">Sicurezza</a></li>
          <li><a href="#">Notifications</a></li>
        </ul>
      </li>


      <li title="Utilità e Servizi">
        <a href="#">
          <span class="menu_icon"><i class="material-icons">&#xE1BD;</i></span>
          <span class="menu_title">Utilità e Servizi</span>
        </a>
        <ul>
          <li><a href="#">Select Photo</a></li>
          <li><a href="#">Numeri utili</a></li>
          <li><a href="#">Muoversi in città</a></li>
          <li><a href="#">Sport e tempo libero</a></li>
          <li><a href="#">Ambiente</a></li>
          <li><a href="#">Sociale</a></li>
          <li><a href="#">Giovani</a></li>
          <li><a href="#">Scuole</a></li>
          <li><a href="#">Wifi</a></li>
          <li><a href="#">Webcam</a></li>
          <li><a href="#">Farmacie</a></li>
        </ul>
      </li>

      <li title="Advertisements">
        <a href="#">
          <span class="menu_icon"><i class="material-icons">&#xE871;</i></span>
          <span class="menu_title">Advertisements</span>
        </a>
      </li>
      <li title="Settings">
        <a href="#">
          <span class="menu_icon"><i class="material-icons">&#xE871;</i></span>
          <span class="menu_title">Settings</span>
        </a>
      </li>


    </ul>

  </div>
</aside>
