<!DOCTYPE html>
<html>
<head>
  <title>CityWay</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1wjCJ5r9hwVMu4uxLNbcKOfBEaPpchnA&libraries=places"></script>
  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= javascript_include_tag 'admin'%>


  <%= render 'application/favicon' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= 'sidebar_main_open' if params[:controller] != 'home'%>">

  <!-- main header -->
  <header id="header_main">
    <div class="header_main_content">
      <nav class="uk-navbar">

        <!-- main sidebar switch -->
        <% unless params[:controller] == 'home'%>
        <a href="#" id="sidebar_main_toggle" class="sSwitch sSwitch_left">
          <i class="material-icons md-36 white_icon">&#xE5D2;</i>
        </a>
        <% end %>

        <!-- secondary sidebar switch -->

        <div class="uk-navbar-flip marginTM3">
          <ul class="uk-navbar-nav user_actions">
            <%= link_to ('<span class="new-city-label white-label">Aggiungere nuova città </span> <i class="material-icons md-36 white_icon">&#xE148;</i>'.html_safe), new_admin_city_path , class: 'white-label user_action_image left'%>
            <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
              <%= link_to ('<i class="material-icons md-36 white_icon">&#xE8B8;</i>'.html_safe), '#', class: 'user_action_image'%>
              <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav js-uk-prevent">
                  <li><%= link_to('Logout', destroy_admin_session_path, method: 'GET') %></li>
                </ul>
              </div>
            </li>


          </ul>
        </div>
      </nav>
    </div>

  </header>



  <!-- main sidebar -->
  <% unless params[:controller] == 'home'%>
    <%= render 'layouts/sidebar'%>
  <% end %>


  <% flash.each do |type, message| %>
    <% unless message.to_s == 'true' %>
      <div class="uk-notify uk-notify-top-center" style="display: block;">
        <div class="uk-notify-message" style="opacity: 1; margin-top: -50px; margin-bottom: 10px;">
          <a class="uk-close"></a>
          <div>
            <%= message %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <!-- main content-->
  <div id="page_content">
    <div id="page_content_inner">
      <%= yield %>
    </div>
  </div>

</body>
</html>
