<!DOCTYPE html>
<html>
<head>
  <title>CityWay</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= javascript_include_tag 'admin'%>


  <%= csrf_meta_tags %>
</head>
<body class="<%= 'sidebar_main_open' if params[:controller] != 'home'%>">

  <!-- main header -->
  <header id="header_main">
    <div class="header_main_content">
      <nav class="uk-navbar">

        <!-- main sidebar switch -->
        <% unless params[:controller] == 'home'%>
        <a href="#" id="sidebar_main_toggle" class="sSwitch sSwitch_left">
          <span class="sSwitchIcon"></span>
        </a>
        <% end %>

        <!-- secondary sidebar switch -->

        <div class="uk-navbar-flip marginTM3">
          <ul class="uk-navbar-nav user_actions">
            <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
              <%= link_to ('<i class="material-icons md-36 white_icon">&#xE8B8;</i>'.html_safe), '#', class: 'user_action_image'%>
              <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav js-uk-prevent">
                  <li><%= link_to('Logout', destroy_admin_session_path, method: 'GET') %></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>

  </header>



  <!-- main sidebar -->
  <% unless params[:controller] == 'home'%>
    <%= render 'layouts/sidebar'%>
  <% end %>


  <% flash.each do |type, message| %>
    <div class="uk-notify uk-notify-top-center" style="display: block;">
      <div class="uk-notify-message" style="opacity: 1; margin-top: -50px; margin-bottom: 10px;">
        <a class="uk-close"></a>
        <div>
          <%= message %>
        </div>

      </div>
    </div>
  <% end %>

  <!-- main content-->
  <div id="page_content">
    <div id="page_content_inner">
      <%= yield %>
    </div>
  </div>

</body>
</html>
