<!DOCTYPE html>
<html>
<head>
  <title>CityView</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= javascript_include_tag 'admin'%>


  <%= csrf_meta_tags %>
</head>
<body class="sidebar_main_open">

  <!-- main header -->
  <header id="header_main">
    <div class="header_main_content">
      <nav class="uk-navbar">

        <!-- main sidebar switch -->
        <a href="#" id="sidebar_main_toggle" class="sSwitch sSwitch_left">
          <span class="sSwitchIcon"></span>
        </a>

        <!-- secondary sidebar switch -->

        <div class="uk-navbar-flip">
          <ul class="uk-navbar-nav user_actions">
            <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
              <%= link_to (image_tag 'avatars/avatar_01_tn.png'), '#', class: 'user_action_image'%>
              <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav js-uk-prevent">
                  <li><%= link_to('Logout', destroy_admin_session_path, method: 'PUT') %></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>

  </header>



  <!-- main sidebar -->
  <aside id="sidebar_main">
    <div class="sidebar_main_header" id="header-custom-background">
      <%= image_tag "logo_main_white@2x.png" , class: 'sidebar-header'%>
      <br />
      <%= link_to 'Admin', '#', class:'sidebar-header-link'%>
    </div>
    <div class="menu_section">
      <ul>
        <% if current_admin.has_role?(:super_admin) || current_admin.has_role?(:city_admin) %>
        <li class="current_section" title="Comuni">
          <a href="/">
            <span class="menu_icon"><i class="material-icons">&#xE1BD;</i></span>
            <span class="menu_title">Comuni</span>
          </a>
        </li>
        <% end %>
        <% if current_admin.has_role? :super_admin %>
        <li class="current_section" title="Attività">
          <a href="/attivita">
            <span class="menu_icon"><i class="material-icons">&#xE8CB;</i></span>
            <span class="menu_title">Attività</span>
          </a>
        </li>
        <% end %>
        <% if current_admin.has_role? :super_admin %>
        <li class="current_section" title="Promos">
          <a href="/">
            <span class="menu_icon"><i class="material-icons">&#xE53E;</i></span>
            <span class="menu_title">Promo</span>
          </a>
        </li>
        <% end %>
        <% if current_admin.has_role?(:super_admin) || current_admin.has_role?(:retail_admin) %>
        <li class="current_section" title="Ads">
          <a href="/">
            <span class="menu_icon"><i class="material-icons ">&#xE0B9;</i></span>
            <span class="menu_title">Banner</span>
          </a>
        </li>
        <% end %>
      </ul>

    </div>
  </aside>

  <% flash.each do |type, message| %>
    <div class="uk-notify uk-notify-top-center" style="display: block;">
      <div class="uk-notify-message" style="opacity: 1; margin-top: -50px; margin-bottom: 10px;">
        <a class="uk-close"></a>
        <div>
          <%= message %>
        </div>

      </div>
    </div>
  <% end %>

  <!-- main content-->
  <div id="page_content">
    <%= yield %>
  </div>

  <!-- secondary sidebar -->
  <aside id="sidebar_secondary"></aside>


  <!-- main content-->

</body>
</html>
