<!DOCTYPE html>
<html>
<head>
  <title>CityWay</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'admin'%>


  <%= csrf_meta_tags %>
</head>
<body class="header_sticky header_shadow">

  <% flash.each do |type, message| %>
  <div class="uk-notify uk-notify-top-center" style="display: block;">
    <div class="uk-notify-message" style="opacity: 1; margin-top: -50px; margin-bottom: 10px;">
      <a class="uk-close"></a>
      <div>
        <%= message %>
      </div>

    </div>
  </div>
  <% end %>

  <%= yield %>

</body>
</html>
