<!DOCTYPE html>
<html>
<head>
  <title>CityWay</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>



  <%= csrf_meta_tags %>
</head>
<body class="login_page">
  <% flash.each do |type, message| %>
    <div class="uk-notify uk-notify-top-center" style="display: block;">
      <div class="uk-notify-message" style="opacity: 1; margin-top: -50px; margin-bottom: 10px;">
        <a class="uk-close"></a>
        <div>
          <%= message %>
        </div>

      </div>
    </div>
  <% end %>




  <%= yield %>
  <%= javascript_include_tag 'admin'%>

</body>
</html>
